* {
    font-family: 'Copperplate', sans-serif;
    font-size: 18px;
}

h1 {
    background-color: rgb(241, 216, 148);
    color: rgb(43, 30, 15);
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 80px;
}

h2 {
    background-color: rgb(148, 196, 241);
    color: rgb(26, 26, 26);
    font-size: 28px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-style: italic;
}
